<h2>User</h2>
<p><h4>Name:</h4> <%= @user.name if @user.name %></p>
<p><h4>Email:</h4> <%= @user.email if @user.email %></p>
<p><h4>Goals:</h4></p>
  <ul>
  	<% @user.goals.each do |goal| %>
  	  <p>
  	  	<%= link_to goal.name, goal_path(goal.id) %>
  	  </p>
  	  <!-- <p><h5><%= goal.name %>:</h5>
  	  <% if @user.id == current_user.id %>
  	  <%= goal.text %>  <%= link_to 'Edit', edit_goal_path(goal) %> </p>
  	  <% else %>
  	  <p><%= goal.text %></p>
  	  <% end %> -->
  	<% end %>
  	<br>
  </ul>


<p>Want more?
<% if @user.id == current_user.id %>
<%= link_to '+', new_goal_path(user_id: @user) %>
</p>

<% end %>

<% if @user.id != current_user.id %>
<p> Too bad! Please log in to create a goal for <%= @user.name %>! </p>
<% end %>